In [18]:
import pandas as pd

In [19]:
malaria = pd.read_csv("../data/malaria_raw.csv")

In [20]:
malaria.head()

,Unnamed: 0,period,year,month,county,code,cases_under_5yo,cases_over_5yo,total_cases,temp,rainfall,month_code,county_code
0,0,22-Jan,2022,Jan,Baringo,KE_County_30,663,1975,2638,18,96.54,1,30
1,1,22-Feb,2022,Feb,Baringo,KE_County_30,805,1759,2564,19,45.28,2,30
2,2,22-Mar,2022,Mar,Baringo,KE_County_30,762,1370,2132,20,77.64,3,30
3,3,22-Apr,2022,Apr,Baringo,KE_County_30,597,1146,1743,19,261.67,4,30
4,4,22-May,2022,May,Baringo,KE_County_30,725,1700,2425,17,169.35,5,30

In [21]:
malaria.tail()

,Unnamed: 0,period,year,month,county,code,cases_under_5yo,cases_over_5yo,total_cases,temp,rainfall,month_code,county_code
1687,1687,24-Aug,2024,Aug,West Pokot,KE_County_24,2674,6152,8826,16,221.69,8,24
1688,1688,24-Sep,2024,Sep,West Pokot,KE_County_24,2018,4622,6640,17,172.77,9,24
1689,1689,24-Oct,2024,Oct,West Pokot,KE_County_24,1987,4859,6846,19,14.81,10,24
1690,1690,24-Nov,2024,Nov,West Pokot,KE_County_24,1992,4850,6842,18,154.62,11,24
1691,1691,24-Dec,2024,Dec,West Pokot,KE_County_24,1313,2335,3648,18,8.58,12,24

In [22]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1692 non-null   int64
 1   period           1692 non-null   object
 2   year             1692 non-null   int64
 3   month            1692 non-null   object
 4   county           1692 non-null   object
 5   code             1692 non-null   object
 6   cases_under_5yo  1692 non-null   int64
 7   cases_over_5yo   1692 non-null   int64
 8   total_cases      1692 non-null   int64
 9   temp             1692 non-null   int64
 10  rainfall         1692 non-null   float64
 11  month_code       1692 non-null   int64
 12  county_code      1692 non-null   int64
dtypes: float64(1), int64(8), object(4)
memory usage: 172.0+ KB

In [23]:
malaria.describe()

,Unnamed: 0,year,cases_under_5yo,cases_over_5yo,total_cases,temp,rainfall,month_code,county_code
count,1692.000000,1692.000000,1692.00000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.00000
mean,845.500000,2023.000000,1589.33156,5680.725177,7270.056738,20.606383,112.583505,6.500000,24.00000
std,488.582644,0.816738,3136.03515,11314.806775,14392.971601,4.032383,115.512939,3.453073,13.56867
min,0.000000,2022.000000,0.00000,2.000000,3.000000,6.000000,0.000000,1.000000,1.00000
25%,422.750000,2022.000000,18.00000,87.000000,106.500000,18.000000,21.775000,3.750000,12.00000
50%,845.500000,2023.000000,154.00000,580.500000,762.500000,20.000000,74.080000,6.500000,24.00000
75%,1268.250000,2024.000000,1055.00000,4134.750000,5153.750000,22.000000,167.200000,9.250000,36.00000
max,1691.000000,2024.000000,22961.00000,81891.000000,104852.000000,32.000000,607.850000,12.000000,47.00000

In [24]:
malaria = malaria.rename(columns={"Confirmed Malaria (only Positive cases) <5 yrs" : "Cases(<5 yrs)"})

In [25]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1692 non-null   int64
 1   period           1692 non-null   object
 2   year             1692 non-null   int64
 3   month            1692 non-null   object
 4   county           1692 non-null   object
 5   code             1692 non-null   object
 6   cases_under_5yo  1692 non-null   int64
 7   cases_over_5yo   1692 non-null   int64
 8   total_cases      1692 non-null   int64
 9   temp             1692 non-null   int64
 10  rainfall         1692 non-null   float64
 11  month_code       1692 non-null   int64
 12  county_code      1692 non-null   int64
dtypes: float64(1), int64(8), object(4)
memory usage: 172.0+ KB

In [26]:
malaria = malaria.rename(columns={"Confirmed Malaria (only Positive cases) >5 yrs" : "Cases(>5 yrs)"})

In [27]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1692 non-null   int64
 1   period           1692 non-null   object
 2   year             1692 non-null   int64
 3   month            1692 non-null   object
 4   county           1692 non-null   object
 5   code             1692 non-null   object
 6   cases_under_5yo  1692 non-null   int64
 7   cases_over_5yo   1692 non-null   int64
 8   total_cases      1692 non-null   int64
 9   temp             1692 non-null   int64
 10  rainfall         1692 non-null   float64
 11  month_code       1692 non-null   int64
 12  county_code      1692 non-null   int64
dtypes: float64(1), int64(8), object(4)
memory usage: 172.0+ KB

In [28]:
malaria = malaria.rename(columns={"Confirmed Malaria Cases" : "Total Cases"})

In [29]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1692 non-null   int64
 1   period           1692 non-null   object
 2   year             1692 non-null   int64
 3   month            1692 non-null   object
 4   county           1692 non-null   object
 5   code             1692 non-null   object
 6   cases_under_5yo  1692 non-null   int64
 7   cases_over_5yo   1692 non-null   int64
 8   total_cases      1692 non-null   int64
 9   temp             1692 non-null   int64
 10  rainfall         1692 non-null   float64
 11  month_code       1692 non-null   int64
 12  county_code      1692 non-null   int64
dtypes: float64(1), int64(8), object(4)
memory usage: 172.0+ KB

In [30]:
missing_values = malaria.loc[malaria.isnull().any(axis=1)]

In [31]:
missing_values.head()

Empty DataFrame
Columns: [Unnamed: 0, period, year, month, county, code, cases_under_5yo, cases_over_5yo, total_cases, temp, rainfall, month_code, county_code]
Index: []

In [32]:
missing_values

Empty DataFrame
Columns: [Unnamed: 0, period, year, month, county, code, cases_under_5yo, cases_over_5yo, total_cases, temp, rainfall, month_code, county_code]
Index: []

In [33]:
missing_values.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       0 non-null      int64
 1   period           0 non-null      object
 2   year             0 non-null      int64
 3   month            0 non-null      object
 4   county           0 non-null      object
 5   code             0 non-null      object
 6   cases_under_5yo  0 non-null      int64
 7   cases_over_5yo   0 non-null      int64
 8   total_cases      0 non-null      int64
 9   temp             0 non-null      int64
 10  rainfall         0 non-null      float64
 11  month_code       0 non-null      int64
 12  county_code      0 non-null      int64
dtypes: float64(1), int64(8), object(4)
memory usage: 0.0+ bytes

In [34]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1692 non-null   int64
 1   period           1692 non-null   object
 2   year             1692 non-null   int64
 3   month            1692 non-null   object
 4   county           1692 non-null   object
 5   code             1692 non-null   object
 6   cases_under_5yo  1692 non-null   int64
 7   cases_over_5yo   1692 non-null   int64
 8   total_cases      1692 non-null   int64
 9   temp             1692 non-null   int64
 10  rainfall         1692 non-null   float64
 11  month_code       1692 non-null   int64
 12  county_code      1692 non-null   int64
dtypes: float64(1), int64(8), object(4)
memory usage: 172.0+ KB

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1692 non-null   int64
 1   Period         1692 non-null   object
 2   Year           1692 non-null   int64
 3   Month          1692 non-null   object
 4   County         1692 non-null   object
 5   Code           1692 non-null   object
 6   Cases(<5 yrs)  1692 non-null   int64
 7   Cases(>5 yrs)  1692 non-null   int64
 8   Total Cases    1692 non-null   int64
 9   Temp(C)        1692 non-null   int64
 10  Rainfall(mm)   1692 non-null   float64
dtypes: float64(1), int64(6), object(4)
memory usage: 145.5+ KB

In [ ]:
missing_values = malaria[malaria.isnull().any(axis=1)]

In [ ]:
missing_values

Empty DataFrame
Columns: [Unnamed: 0, Period, Year, Month, County, Code, Cases(<5 yrs), Cases(>5 yrs), Total Cases, Temp(C), Rainfall(mm)]
Index: []

In [ ]:
malaria.to_csv("./data/Malaria.csv")

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1692 non-null   int64
 1   Period         1692 non-null   object
 2   Year           1692 non-null   int64
 3   Month          1692 non-null   object
 4   County         1692 non-null   object
 5   Code           1692 non-null   object
 6   Cases(<5 yrs)  1692 non-null   int64
 7   Cases(>5 yrs)  1692 non-null   int64
 8   Total Cases    1692 non-null   int64
 9   Temp(C)        1692 non-null   int64
 10  Rainfall(mm)   1692 non-null   float64
dtypes: float64(1), int64(6), object(4)
memory usage: 145.5+ KB

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1692 non-null   int64
 1   Period         1692 non-null   object
 2   Year           1692 non-null   int64
 3   Month          1692 non-null   object
 4   County         1692 non-null   object
 5   Code           1692 non-null   object
 6   Cases(<5 yrs)  1692 non-null   int64
 7   Cases(>5 yrs)  1692 non-null   int64
 8   Total Cases    1692 non-null   int64
 9   Temp(C)        1692 non-null   int64
 10  Rainfall(mm)   1692 non-null   float64
dtypes: float64(1), int64(6), object(4)
memory usage: 145.5+ KB

In [ ]:
total_cases = malaria.groupby("County", as_index=False)["Total Cases"].sum()

In [ ]:
total_cases

             County  Total Cases
0           Baringo       104975
1             Bomet         5509
2           Bungoma       879512
3             Busia       841629
4   Elgeyo Marakwet        32952
5              Embu         1989
6           Garissa         9699
7          Homa Bay       953684
8            Isiolo        12674
9           Kajiado        13928
10         Kakamega      1577695
11          Kericho       122226
12           Kiambu        13787
13           Kilifi       182466
14        Kirinyaga         1279
15            Kisii       170181
16           Kisumu      1148993
17            Kitui         1793
18            Kwale       290921
19         Laikipia         2799
20             Lamu          962
21         Machakos         8126
22          Makueni         2409
23          Mandera         7717
24         Marsabit         8272
25             Meru        11421
26           Migori      1606174
27          Mombasa        40296
28          Muranga         1399
29          Nairobi       103592
30           Nakuru        37525
31            Nandi       119819
32            Narok        38675
33          Nyamira        43841
34        Nyandarua          650
35            Nyeri         1239
36          Samburu        23853
37            Siaya      1821080
38     Taita Taveta         3040
39       Tana River        19219
40    Tharaka Nithi         5096
41      Trans Nzoia       183820
42          Turkana      1164073
43      Uasin Gishu        59694
44           Vihiga       395847
45            Wajir         2182
46       West Pokot       222224

In [ ]:
total_cases.to_csv("./data/Total Cases.csv")

In [ ]:
max_cases = total_cases["Total Cases"].max()

In [ ]:
min_cases = total_cases["Total Cases"].min()

In [ ]:
max_cases

1821080

In [ ]:
min_cases

650

In [ ]:
max_county = total_cases[total_cases["Total Cases"] == max_cases]["County"]

In [ ]:
max_county

37    Siaya
Name: County, dtype: object

In [ ]:
min_county = total_cases[total_cases["Total Cases"] == min_cases]["County"]

In [ ]:
min_county

34    Nyandarua
Name: County, dtype: object

In [ ]:
siaya = malaria[malaria["County"] == "Siaya"].reset_index(drop=True)

In [ ]:
siaya

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
0,1332,1332,Jan-22,2022,Jan,Siaya,KE_County_41,11708,46430,58138,24,16.76
1,1333,1333,Feb-22,2022,Feb,Siaya,KE_County_41,10412,34007,44419,23,10.58
2,1334,1334,Mar-22,2022,Mar,Siaya,KE_County_41,11858,31787,43645,25,163.97
3,1335,1335,Apr-22,2022,Apr,Siaya,KE_County_41,9440,30100,39540,23,440.01
4,1336,1336,May-22,2022,May,Siaya,KE_County_41,13424,46691,60115,22,282.81
5,1337,1337,Jun-22,2022,Jun,Siaya,KE_County_41,17287,64885,82172,22,108.52
6,1338,1338,Jul-22,2022,Jul,Siaya,KE_County_41,14934,53368,68302,22,156.43
7,1339,1339,Aug-22,2022,Aug,Siaya,KE_County_41,11702,37523,49225,22,226.16
8,1340,1340,Sep-22,2022,Sep,Siaya,KE_County_41,9589,30938,40527,22,227.00
9,1341,1341,Oct-22,2022,Oct,Siaya,KE_County_41,10455,37473,47928,23,133.75
10,1342,1342,Nov-22,2022,Nov,Siaya,KE_County_41,11844,36325,48169,22,94.40
11,1343,1343,Dec-22,2022,Dec,Siaya,KE_County_41,9981,30159,40140,22,226.07
12,1344,1344,Jan-23,2023,Jan,Siaya,KE_County_41,14520,42495,57015,24,123.04
13,1345,1345,Feb-23,2023,Feb,Siaya,KE_County_41,11887,43852,55739,26,98.05
14,1346,1346,Mar-23,2023,Mar,Siaya,KE_County_41,10296,38919,49215,23,408.35
15,1347,1347,Apr-23,2023,Apr,Siaya,KE_County_41,11451,36112,47563,22,560.00
16,1348,1348,May-23,2023,May,Siaya,KE_County_41,19078,76284,95362,22,207.40
17,1349,1349,Jun-23,2023,Jun,Siaya,KE_County_41,17490,64492,81982,22,200.80
18,1350,1350,Jul-23,2023,Jul,Siaya,KE_County_41,13248,48960,62208,23,103.80
19,1351,1351,Aug-23,2023,Aug,Siaya,KE_County_41,13077,42261,55338,23,67.20
20,1352,1352,Sep-23,2023,Sep,Siaya,KE_County_41,9918,41248,51166,22,237.08
21,1353,1353,Oct-23,2023,Oct,Siaya,KE_County_41,9053,29227,38280,23,152.00
22,1354,1354,Nov-23,2023,Nov,Siaya,KE_County_41,9316,27476,36792,22,422.30
23,1355,1355,Dec-23,2023,Dec,Siaya,KE_County_41,8541,26714,35255,22,225.31
24,1356,1356,Jan-24,2024,Jan,Siaya,KE_County_41,8974,31398,40372,22,35.74
25,1357,1357,Feb-24,2024,Feb,Siaya,KE_County_41,9044,30147,39191,24,7.67
26,1358,1358,Mar-24,2024,Mar,Siaya,KE_County_41,10863,40254,51117,24,93.83
27,1359,1359,Apr-24,2024,Apr,Siaya,KE_County_41,7311,24664,31975,22,355.92
28,1360,1360,May-24,2024,May,Siaya,KE_County_41,10443,42335,52778,21,336.58
29,1361,1361,Jun-24,2024,Jun,Siaya,KE_County_41,12123,50217,62340,21,93.96
30,1362,1362,Jul-24,2024,Jul,Siaya,KE_County_41,11586,43033,54619,22,74.08
31,1363,1363,Aug-24,2024,Aug,Siaya,KE_County_41,10255,36878,47133,22,50.12
32,1364,1364,Sep-24,2024,Sep,Siaya,KE_County_41,8892,38379,47271,23,85.06
33,1365,1365,Oct-24,2024,Oct,Siaya,KE_County_41,7634,26600,34234,23,78.08
34,1366,1366,Nov-24,2024,Nov,Siaya,KE_County_41,7525,25469,32994,22,301.97
35,1367,1367,Dec-24,2024,Dec,Siaya,KE_County_41,8468,30353,38821,22,93.09

In [ ]:
siaya.to_csv("./data/siaya.csv")

In [ ]:
nyandarua = malaria[malaria["County"] == "Nyandarua"]

In [ ]:
nyandarua

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
1224,1224,1224,Jan-22,2022,Jan,Nyandarua,KE_County_18,3,24,27,20,52.44
1225,1225,1225,Feb-22,2022,Feb,Nyandarua,KE_County_18,0,14,14,22,22.20
1226,1226,1226,Mar-22,2022,Mar,Nyandarua,KE_County_18,7,17,24,22,17.74
1227,1227,1227,Apr-22,2022,Apr,Nyandarua,KE_County_18,3,18,21,20,129.90
1228,1228,1228,May-22,2022,May,Nyandarua,KE_County_18,9,29,38,20,26.81
1229,1229,1229,Jun-22,2022,Jun,Nyandarua,KE_County_18,5,14,19,18,13.00
1230,1230,1230,Jul-22,2022,Jul,Nyandarua,KE_County_18,7,16,23,18,26.20
1231,1231,1231,Aug-22,2022,Aug,Nyandarua,KE_County_18,6,14,20,18,36.36
1232,1232,1232,Sep-22,2022,Sep,Nyandarua,KE_County_18,5,14,19,20,28.50
1233,1233,1233,Oct-22,2022,Oct,Nyandarua,KE_County_18,3,12,15,21,13.30
1234,1234,1234,Nov-22,2022,Nov,Nyandarua,KE_County_18,4,7,11,19,117.02
1235,1235,1235,Dec-22,2022,Dec,Nyandarua,KE_County_18,1,10,11,19,29.44
1236,1236,1236,Jan-23,2023,Jan,Nyandarua,KE_County_18,2,30,32,20,6.68
1237,1237,1237,Feb-23,2023,Feb,Nyandarua,KE_County_18,6,22,28,22,0.24
1238,1238,1238,Mar-23,2023,Mar,Nyandarua,KE_County_18,2,18,20,21,214.94
1239,1239,1239,Apr-23,2023,Apr,Nyandarua,KE_County_18,9,11,20,19,208.50
1240,1240,1240,May-23,2023,May,Nyandarua,KE_County_18,5,20,25,19,98.25
1241,1241,1241,Jun-23,2023,Jun,Nyandarua,KE_County_18,3,16,19,19,46.45
1242,1242,1242,Jul-23,2023,Jul,Nyandarua,KE_County_18,7,18,25,18,19.40
1243,1243,1243,Aug-23,2023,Aug,Nyandarua,KE_County_18,2,14,16,19,23.20
1244,1244,1244,Sep-23,2023,Sep,Nyandarua,KE_County_18,2,13,15,21,42.13
1245,1245,1245,Oct-23,2023,Oct,Nyandarua,KE_County_18,1,5,6,21,36.35
1246,1246,1246,Nov-23,2023,Nov,Nyandarua,KE_County_18,2,14,16,18,247.89
1247,1247,1247,Dec-23,2023,Dec,Nyandarua,KE_County_18,4,10,14,19,80.69
1248,1248,1248,Jan-24,2024,Jan,Nyandarua,KE_County_18,1,25,26,19,153.15
1249,1249,1249,Feb-24,2024,Feb,Nyandarua,KE_County_18,2,8,10,21,59.89
1250,1250,1250,Mar-24,2024,Mar,Nyandarua,KE_County_18,0,6,6,21,104.74
1251,1251,1251,Apr-24,2024,Apr,Nyandarua,KE_County_18,0,16,16,19,490.56
1252,1252,1252,May-24,2024,May,Nyandarua,KE_County_18,1,16,17,19,192.95
1253,1253,1253,Jun-24,2024,Jun,Nyandarua,KE_County_18,3,5,8,18,67.43
1254,1254,1254,Jul-24,2024,Jul,Nyandarua,KE_County_18,3,7,10,18,59.84
1255,1255,1255,Aug-24,2024,Aug,Nyandarua,KE_County_18,2,32,34,19,6.11
1256,1256,1256,Sep-24,2024,Sep,Nyandarua,KE_County_18,5,23,28,20,19.59
1257,1257,1257,Oct-24,2024,Oct,Nyandarua,KE_County_18,2,2,4,22,0.09
1258,1258,1258,Nov-24,2024,Nov,Nyandarua,KE_County_18,1,5,6,19,178.71
1259,1259,1259,Dec-24,2024,Dec,Nyandarua,KE_County_18,1,6,7,19,38.00

In [ ]:
nyandarua.to_csv("./data/nyandarua.csv")

In [ ]:
nyandarua["Temp(C)"].mean()

np.float64(19.63888888888889)

In [ ]:
nyandarua["Rainfall(mm)"].mean()

np.float64(80.79694444444446)

In [ ]:
max_cases = nyandarua["Total Cases"].max()

In [ ]:
max_cases

38

In [ ]:
max_month = nyandarua[nyandarua["Total Cases"] == max_cases]["Period"]

In [ ]:
max_month

1228    May-22
Name: Period, dtype: object

In [ ]:
nyandarua.loc[nyandarua["Period"] == "May-22"]

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
1228,1228,1228,May-22,2022,May,Nyandarua,KE_County_18,9,29,38,20,26.81

In [ ]:
max_rainfall = nyandarua["Rainfall(mm)"].max()

In [ ]:
max_rainfall

490.56

In [ ]:
max_temp = nyandarua["Temp(C)"].max()

In [ ]:
max_temp

22

In [ ]:
siaya

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
0,1332,1332,Jan-22,2022,Jan,Siaya,KE_County_41,11708,46430,58138,24,16.76
1,1333,1333,Feb-22,2022,Feb,Siaya,KE_County_41,10412,34007,44419,23,10.58
2,1334,1334,Mar-22,2022,Mar,Siaya,KE_County_41,11858,31787,43645,25,163.97
3,1335,1335,Apr-22,2022,Apr,Siaya,KE_County_41,9440,30100,39540,23,440.01
4,1336,1336,May-22,2022,May,Siaya,KE_County_41,13424,46691,60115,22,282.81
5,1337,1337,Jun-22,2022,Jun,Siaya,KE_County_41,17287,64885,82172,22,108.52
6,1338,1338,Jul-22,2022,Jul,Siaya,KE_County_41,14934,53368,68302,22,156.43
7,1339,1339,Aug-22,2022,Aug,Siaya,KE_County_41,11702,37523,49225,22,226.16
8,1340,1340,Sep-22,2022,Sep,Siaya,KE_County_41,9589,30938,40527,22,227.00
9,1341,1341,Oct-22,2022,Oct,Siaya,KE_County_41,10455,37473,47928,23,133.75
10,1342,1342,Nov-22,2022,Nov,Siaya,KE_County_41,11844,36325,48169,22,94.40
11,1343,1343,Dec-22,2022,Dec,Siaya,KE_County_41,9981,30159,40140,22,226.07
12,1344,1344,Jan-23,2023,Jan,Siaya,KE_County_41,14520,42495,57015,24,123.04
13,1345,1345,Feb-23,2023,Feb,Siaya,KE_County_41,11887,43852,55739,26,98.05
14,1346,1346,Mar-23,2023,Mar,Siaya,KE_County_41,10296,38919,49215,23,408.35
15,1347,1347,Apr-23,2023,Apr,Siaya,KE_County_41,11451,36112,47563,22,560.00
16,1348,1348,May-23,2023,May,Siaya,KE_County_41,19078,76284,95362,22,207.40
17,1349,1349,Jun-23,2023,Jun,Siaya,KE_County_41,17490,64492,81982,22,200.80
18,1350,1350,Jul-23,2023,Jul,Siaya,KE_County_41,13248,48960,62208,23,103.80
19,1351,1351,Aug-23,2023,Aug,Siaya,KE_County_41,13077,42261,55338,23,67.20
20,1352,1352,Sep-23,2023,Sep,Siaya,KE_County_41,9918,41248,51166,22,237.08
21,1353,1353,Oct-23,2023,Oct,Siaya,KE_County_41,9053,29227,38280,23,152.00
22,1354,1354,Nov-23,2023,Nov,Siaya,KE_County_41,9316,27476,36792,22,422.30
23,1355,1355,Dec-23,2023,Dec,Siaya,KE_County_41,8541,26714,35255,22,225.31
24,1356,1356,Jan-24,2024,Jan,Siaya,KE_County_41,8974,31398,40372,22,35.74
25,1357,1357,Feb-24,2024,Feb,Siaya,KE_County_41,9044,30147,39191,24,7.67
26,1358,1358,Mar-24,2024,Mar,Siaya,KE_County_41,10863,40254,51117,24,93.83
27,1359,1359,Apr-24,2024,Apr,Siaya,KE_County_41,7311,24664,31975,22,355.92
28,1360,1360,May-24,2024,May,Siaya,KE_County_41,10443,42335,52778,21,336.58
29,1361,1361,Jun-24,2024,Jun,Siaya,KE_County_41,12123,50217,62340,21,93.96
30,1362,1362,Jul-24,2024,Jul,Siaya,KE_County_41,11586,43033,54619,22,74.08
31,1363,1363,Aug-24,2024,Aug,Siaya,KE_County_41,10255,36878,47133,22,50.12
32,1364,1364,Sep-24,2024,Sep,Siaya,KE_County_41,8892,38379,47271,23,85.06
33,1365,1365,Oct-24,2024,Oct,Siaya,KE_County_41,7634,26600,34234,23,78.08
34,1366,1366,Nov-24,2024,Nov,Siaya,KE_County_41,7525,25469,32994,22,301.97
35,1367,1367,Dec-24,2024,Dec,Siaya,KE_County_41,8468,30353,38821,22,93.09

In [ ]:
min_rainfall = siaya["Rainfall(mm)"].mean()

In [ ]:
min_rainfall

np.float64(180.49694444444447)

In [ ]:
min_temp = siaya["Temp(C)"].mean()

In [ ]:
min_temp

np.float64(22.61111111111111)

In [ ]:
max_cases = siaya["Total Cases"].max()

In [ ]:
max_cases

95362

In [ ]:
max_period = siaya[siaya["Total Cases"] == max_cases]["Period"]

In [ ]:
max_period

16    May-23
Name: Period, dtype: object

In [ ]:
siaya.loc[siaya["Period"] == "May-23"]

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
16,1348,1348,May-23,2023,May,Siaya,KE_County_41,19078,76284,95362,22,207.4

In [ ]:
max_temp = siaya["Temp(C)"].max()

In [ ]:
max_temp

26

In [ ]:
max_rainfall = siaya["Rainfall(mm)"].max()

In [ ]:
max_rainfall

560.0

In [ ]:
min_cases = siaya["Total Cases"].min()

In [ ]:
min_cases

31975

In [ ]:
siaya.loc[siaya["Total Cases"] == min_cases]

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
27,1359,1359,Apr-24,2024,Apr,Siaya,KE_County_41,7311,24664,31975,22,355.92

In [ ]:
siaya.sort_values(by="Total Cases", ascending=False)

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
16,1348,1348,May-23,2023,May,Siaya,KE_County_41,19078,76284,95362,22,207.40
5,1337,1337,Jun-22,2022,Jun,Siaya,KE_County_41,17287,64885,82172,22,108.52
17,1349,1349,Jun-23,2023,Jun,Siaya,KE_County_41,17490,64492,81982,22,200.80
6,1338,1338,Jul-22,2022,Jul,Siaya,KE_County_41,14934,53368,68302,22,156.43
29,1361,1361,Jun-24,2024,Jun,Siaya,KE_County_41,12123,50217,62340,21,93.96
18,1350,1350,Jul-23,2023,Jul,Siaya,KE_County_41,13248,48960,62208,23,103.80
4,1336,1336,May-22,2022,May,Siaya,KE_County_41,13424,46691,60115,22,282.81
0,1332,1332,Jan-22,2022,Jan,Siaya,KE_County_41,11708,46430,58138,24,16.76
12,1344,1344,Jan-23,2023,Jan,Siaya,KE_County_41,14520,42495,57015,24,123.04
13,1345,1345,Feb-23,2023,Feb,Siaya,KE_County_41,11887,43852,55739,26,98.05
19,1351,1351,Aug-23,2023,Aug,Siaya,KE_County_41,13077,42261,55338,23,67.20
30,1362,1362,Jul-24,2024,Jul,Siaya,KE_County_41,11586,43033,54619,22,74.08
28,1360,1360,May-24,2024,May,Siaya,KE_County_41,10443,42335,52778,21,336.58
20,1352,1352,Sep-23,2023,Sep,Siaya,KE_County_41,9918,41248,51166,22,237.08
26,1358,1358,Mar-24,2024,Mar,Siaya,KE_County_41,10863,40254,51117,24,93.83
7,1339,1339,Aug-22,2022,Aug,Siaya,KE_County_41,11702,37523,49225,22,226.16
14,1346,1346,Mar-23,2023,Mar,Siaya,KE_County_41,10296,38919,49215,23,408.35
10,1342,1342,Nov-22,2022,Nov,Siaya,KE_County_41,11844,36325,48169,22,94.40
9,1341,1341,Oct-22,2022,Oct,Siaya,KE_County_41,10455,37473,47928,23,133.75
15,1347,1347,Apr-23,2023,Apr,Siaya,KE_County_41,11451,36112,47563,22,560.00
32,1364,1364,Sep-24,2024,Sep,Siaya,KE_County_41,8892,38379,47271,23,85.06
31,1363,1363,Aug-24,2024,Aug,Siaya,KE_County_41,10255,36878,47133,22,50.12
1,1333,1333,Feb-22,2022,Feb,Siaya,KE_County_41,10412,34007,44419,23,10.58
2,1334,1334,Mar-22,2022,Mar,Siaya,KE_County_41,11858,31787,43645,25,163.97
8,1340,1340,Sep-22,2022,Sep,Siaya,KE_County_41,9589,30938,40527,22,227.00
24,1356,1356,Jan-24,2024,Jan,Siaya,KE_County_41,8974,31398,40372,22,35.74
11,1343,1343,Dec-22,2022,Dec,Siaya,KE_County_41,9981,30159,40140,22,226.07
3,1335,1335,Apr-22,2022,Apr,Siaya,KE_County_41,9440,30100,39540,23,440.01
25,1357,1357,Feb-24,2024,Feb,Siaya,KE_County_41,9044,30147,39191,24,7.67
35,1367,1367,Dec-24,2024,Dec,Siaya,KE_County_41,8468,30353,38821,22,93.09
21,1353,1353,Oct-23,2023,Oct,Siaya,KE_County_41,9053,29227,38280,23,152.00
22,1354,1354,Nov-23,2023,Nov,Siaya,KE_County_41,9316,27476,36792,22,422.30
23,1355,1355,Dec-23,2023,Dec,Siaya,KE_County_41,8541,26714,35255,22,225.31
33,1365,1365,Oct-24,2024,Oct,Siaya,KE_County_41,7634,26600,34234,23,78.08
34,1366,1366,Nov-24,2024,Nov,Siaya,KE_County_41,7525,25469,32994,22,301.97
27,1359,1359,Apr-24,2024,Apr,Siaya,KE_County_41,7311,24664,31975,22,355.92

In [ ]:
malaria

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
0,0,0,Jan-22,2022,Jan,Baringo,KE_County_30,663,1975,2638,18,96.54
1,1,1,Feb-22,2022,Feb,Baringo,KE_County_30,805,1759,2564,19,45.28
2,2,2,Mar-22,2022,Mar,Baringo,KE_County_30,762,1370,2132,20,77.64
3,3,3,Apr-22,2022,Apr,Baringo,KE_County_30,597,1146,1743,19,261.67
4,4,4,May-22,2022,May,Baringo,KE_County_30,725,1700,2425,17,169.35
...,...,...,...,...,...,...,...,...,...,...,...,...
1687,1687,1687,Aug-24,2024,Aug,West Pokot,KE_County_24,2674,6152,8826,16,221.69
1688,1688,1688,Sep-24,2024,Sep,West Pokot,KE_County_24,2018,4622,6640,17,172.77
1689,1689,1689,Oct-24,2024,Oct,West Pokot,KE_County_24,1987,4859,6846,19,14.81
1690,1690,1690,Nov-24,2024,Nov,West Pokot,KE_County_24,1992,4850,6842,18,154.62
1691,1691,1691,Dec-24,2024,Dec,West Pokot,KE_County_24,1313,2335,3648,18,8.58

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   1692 non-null   int64
 1   Unnamed: 0     1692 non-null   int64
 2   Period         1692 non-null   object
 3   Year           1692 non-null   int64
 4   Month          1692 non-null   object
 5   County         1692 non-null   object
 6   Code           1692 non-null   object
 7   Cases(<5 yrs)  1692 non-null   int64
 8   Cases(>5 yrs)  1692 non-null   int64
 9   Total Cases    1692 non-null   int64
 10  Temp(C)        1692 non-null   int64
 11  Rainfall(mm)   1692 non-null   float64
dtypes: float64(1), int64(7), object(4)
memory usage: 158.8+ KB

In [ ]:
malaria["Year"] = malaria["Year"].astype(str).astype("period[Y]")

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   1692 non-null   int64
 1   Unnamed: 0     1692 non-null   int64
 2   Period         1692 non-null   object
 3   Year           1692 non-null   period[Y-DEC]
 4   Month          1692 non-null   object
 5   County         1692 non-null   object
 6   Code           1692 non-null   object
 7   Cases(<5 yrs)  1692 non-null   int64
 8   Cases(>5 yrs)  1692 non-null   int64
 9   Total Cases    1692 non-null   int64
 10  Temp(C)        1692 non-null   int64
 11  Rainfall(mm)   1692 non-null   float64
dtypes: float64(1), int64(6), object(4), period[Y-DEC](1)
memory usage: 158.8+ KB

In [ ]:
malaria

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm)
0,0,0,Jan-22,2022,Jan,Baringo,KE_County_30,663,1975,2638,18,96.54
1,1,1,Feb-22,2022,Feb,Baringo,KE_County_30,805,1759,2564,19,45.28
2,2,2,Mar-22,2022,Mar,Baringo,KE_County_30,762,1370,2132,20,77.64
3,3,3,Apr-22,2022,Apr,Baringo,KE_County_30,597,1146,1743,19,261.67
4,4,4,May-22,2022,May,Baringo,KE_County_30,725,1700,2425,17,169.35
...,...,...,...,...,...,...,...,...,...,...,...,...
1687,1687,1687,Aug-24,2024,Aug,West Pokot,KE_County_24,2674,6152,8826,16,221.69
1688,1688,1688,Sep-24,2024,Sep,West Pokot,KE_County_24,2018,4622,6640,17,172.77
1689,1689,1689,Oct-24,2024,Oct,West Pokot,KE_County_24,1987,4859,6846,19,14.81
1690,1690,1690,Nov-24,2024,Nov,West Pokot,KE_County_24,1992,4850,6842,18,154.62
1691,1691,1691,Dec-24,2024,Dec,West Pokot,KE_County_24,1313,2335,3648,18,8.58

In [ ]:
malaria["month_code"] = malaria["Month"].apply(lambda x: {
    "January": 1, "February": 2, "March": 3, "April": 4,
    "May": 5, "June": 6, "July": 7, "August": 8,
    "September": 9, "October": 10, "November": 11, "December": 12,
    "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4,
    "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9,
    "Oct": 10, "Nov": 11, "Dec": 12
}.get(x.strip(), None))

In [ ]:
malaria

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm),month_code
0,0,0,Jan-22,2022,Jan,Baringo,KE_County_30,663,1975,2638,18,96.54,1
1,1,1,Feb-22,2022,Feb,Baringo,KE_County_30,805,1759,2564,19,45.28,2
2,2,2,Mar-22,2022,Mar,Baringo,KE_County_30,762,1370,2132,20,77.64,3
3,3,3,Apr-22,2022,Apr,Baringo,KE_County_30,597,1146,1743,19,261.67,4
4,4,4,May-22,2022,May,Baringo,KE_County_30,725,1700,2425,17,169.35,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,1687,1687,Aug-24,2024,Aug,West Pokot,KE_County_24,2674,6152,8826,16,221.69,8
1688,1688,1688,Sep-24,2024,Sep,West Pokot,KE_County_24,2018,4622,6640,17,172.77,9
1689,1689,1689,Oct-24,2024,Oct,West Pokot,KE_County_24,1987,4859,6846,19,14.81,10
1690,1690,1690,Nov-24,2024,Nov,West Pokot,KE_County_24,1992,4850,6842,18,154.62,11
1691,1691,1691,Dec-24,2024,Dec,West Pokot,KE_County_24,1313,2335,3648,18,8.58,12

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   1692 non-null   int64
 1   Unnamed: 0     1692 non-null   int64
 2   Period         1692 non-null   object
 3   Year           1692 non-null   period[Y-DEC]
 4   Month          1692 non-null   object
 5   County         1692 non-null   object
 6   Code           1692 non-null   object
 7   Cases(<5 yrs)  1692 non-null   int64
 8   Cases(>5 yrs)  1692 non-null   int64
 9   Total Cases    1692 non-null   int64
 10  Temp(C)        1692 non-null   int64
 11  Rainfall(mm)   1692 non-null   float64
 12  month_code     1692 non-null   int64
dtypes: float64(1), int64(7), object(4), period[Y-DEC](1)
memory usage: 172.0+ KB

In [ ]:
malaria["county_code"] = malaria["Code"].apply(lambda x: x.split("_")[-1])

In [ ]:
malaria

,Unnamed: 0.1,Unnamed: 0,Period,Year,Month,County,Code,Cases(<5 yrs),Cases(>5 yrs),Total Cases,Temp(C),Rainfall(mm),month_code,county_code
0,0,0,Jan-22,2022,Jan,Baringo,KE_County_30,663,1975,2638,18,96.54,1,30
1,1,1,Feb-22,2022,Feb,Baringo,KE_County_30,805,1759,2564,19,45.28,2,30
2,2,2,Mar-22,2022,Mar,Baringo,KE_County_30,762,1370,2132,20,77.64,3,30
3,3,3,Apr-22,2022,Apr,Baringo,KE_County_30,597,1146,1743,19,261.67,4,30
4,4,4,May-22,2022,May,Baringo,KE_County_30,725,1700,2425,17,169.35,5,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,1687,1687,Aug-24,2024,Aug,West Pokot,KE_County_24,2674,6152,8826,16,221.69,8,24
1688,1688,1688,Sep-24,2024,Sep,West Pokot,KE_County_24,2018,4622,6640,17,172.77,9,24
1689,1689,1689,Oct-24,2024,Oct,West Pokot,KE_County_24,1987,4859,6846,19,14.81,10,24
1690,1690,1690,Nov-24,2024,Nov,West Pokot,KE_County_24,1992,4850,6842,18,154.62,11,24
1691,1691,1691,Dec-24,2024,Dec,West Pokot,KE_County_24,1313,2335,3648,18,8.58,12,24

In [ ]:
malaria.to_csv("./data/Malaria.csv")

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   1692 non-null   int64
 1   Unnamed: 0     1692 non-null   int64
 2   Period         1692 non-null   object
 3   Year           1692 non-null   period[Y-DEC]
 4   Month          1692 non-null   object
 5   County         1692 non-null   object
 6   Code           1692 non-null   object
 7   Cases(<5 yrs)  1692 non-null   int64
 8   Cases(>5 yrs)  1692 non-null   int64
 9   Total Cases    1692 non-null   int64
 10  Temp(C)        1692 non-null   int64
 11  Rainfall(mm)   1692 non-null   float64
 12  month_code     1692 non-null   int64
 13  county_code    1692 non-null   object
dtypes: float64(1), int64(7), object(5), period[Y-DEC](1)
memory usage: 185.2+ KB

In [ ]:
malaria["county_code"] = pd.to_numeric(malaria["county_code"])

In [ ]:
malaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1692 entries, 0 to 1691
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   1692 non-null   int64
 1   Unnamed: 0     1692 non-null   int64
 2   Period         1692 non-null   object
 3   Year           1692 non-null   period[Y-DEC]
 4   Month          1692 non-null   object
 5   County         1692 non-null   object
 6   Code           1692 non-null   object
 7   Cases(<5 yrs)  1692 non-null   int64
 8   Cases(>5 yrs)  1692 non-null   int64
 9   Total Cases    1692 non-null   int64
 10  Temp(C)        1692 non-null   int64
 11  Rainfall(mm)   1692 non-null   float64
 12  month_code     1692 non-null   int64
 13  county_code    1692 non-null   int64
dtypes: float64(1), int64(8), object(4), period[Y-DEC](1)
memory usage: 185.2+ KB

: